<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/home}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6tycU4ALX4macRY-ZK8I9L0mTNhNOQcaEfw&usqp=CAU" width="64" height="64"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a
                            class="nav-link" th:href="@{/home}">
                        <b><font face="Classique Saigon Typeface" size="5" >Chachoengsao</font></b>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link" th:href="@{/Temple}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlmvhHORWUXJUJtPPaLgXzXVwDJ0znhe4UFA&usqp=CAU" width="32" height="32">
                        <b><font face="Classique Saigon Typeface" size="4">Temple</font></b>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link" th:href="@{/Natural}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVEqYxa7mh3GVT3thMITdVHkB88W3OFXjOiQ&usqp=CAU" width="32" height="32">
                        <b><font face="Classique Saigon Typeface" size="4">Natural</font></b>
                    </a>
                </li>

                <li class="nav-item">
                    <a
                            class="nav-link" th:href="@{/Hostel}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz1iAvjc6OGPN65j55WqPs0Q96LlwgBrNlOg&usqp=CAU" width="32" height="32">
                        <b><font face="Classique Saigon Typeface" size="4">Hotel</font></b>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link" th:href="@{/Restaurant}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGhk5ZsdQumSt9hvYWC2e3gFrBKXa93CnhPA&usqp=CAU" width="32" height="32">
                        <b><font face="Classique Saigon Typeface" size="4">Restaurant</font></b>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link" th:href="@{/Cafe}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1xD_8SEDia8FVm-DGMqIc1fVAOQjhC-BmZA&usqp=CAU" width="32" height="32">
                        <b><font face="Classique Saigon Typeface" size="4">Cafe</font></b>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>