<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:text-shadow="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">


<div layout:fragment="content" class="container">
    <BODY BACKGROUND="https://s.isanook.com/tr/0/rp/r/w850/ya0xa0m1w0/aHR0cHM6Ly9zLmlzYW5vb2suY29tL3RyLzAvdWQvMjg0LzE0MjIyODEvcmdoeWguanBn.jpg" >
    <hr>

    <h1>
        <SPAN STYLE="color: black; text-shadow: 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em yellow"><font face="แจ๋ว-can_jaew" size="6">รวมที่พัก น่าไปเช็คอิน นอนฟินรับหน้าหนาว</font></SPAN>
    </h1>
    <p>
        <SPAN STYLE="color: black; text-shadow: 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em yellow"><font face="แจ๋ว-can_jaew" >ปลายปีนี้...ไปสัมผัสอากาศดีๆกันที่ฉะเชิงเทรา แต่ละที่ยังมีที่พักบรรยากาศว้าวๆ ให้ไปนอนฟินๆ ว่าแล้วก็รีบๆ มาเช็คอินกันได้เลย</font></SPAN>
    </p>

    <div class="container-fluid mt-4">
        <div class="row justify">
            <div class="col-xl-3" th:each="place : ${allPlace}">
                <div class="card h-200" style="width: 16rem;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img
                                th:src="${place.linkimg}" class="card-img-top
        embed-responsive-item" alt="180x100" >
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${place.place_name}"></h5>
                        <p class="card-text" th:text="${place.description}"></p>
                    </div>
                    <div class="card-footer">
                        <a  th:href="${place.linkmap}" class="btn btn-primary float-right">Go map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </BODY>
</div>