<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<div layout:fragment="content" class="container">


<hr>

<h1>สถานทีท่องเที่ยว</h1>

<table border="1px">
    <thead>
    <tr>
        <th>ชื่อ</th>
        <th>จังหวัด</th>
        <th>หมวดหมู่</th>
        <th>ที่ตั้ง</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="place : ${allPlace}">
        <td th:text="${place.place_name}"></td>
        <td th:text="${place.province}"></td>
        <td th:text="${place.category}"></td>
        <td><img th:src="${place.link}" /></td>
    </tr>
    </tbody>
</table>

</div>