<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<link href="https://thaifaces.com/specimen/sov-thanit/" rel="stylesheet">

<div layout:fragment="content" class="container">
    <BODY BACKGROUND="https://i.imgur.com/AVKOsdc.jpg"  >
    <hr>

    <h1>
        <SPAN STYLE="color: black; text-shadow: 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em yellow"><b><font face="SOV_Thanit" size="6">รวมวัดสวย อลังการ สายบุญห้ามพลาด! เมื่อมาฉะเชิงเทรา</font></b></SPAN>
    </h1>
    <P>
        <SPAN STYLE="color: black; text-shadow: 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em white, 0em 0em 1.0em yellow"><b><font face="แจ๋ว-can_jaew" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;รวมวัดสวย สุดเจิด น่าไปทำบุญไหว้พระ ชมสถาปัตยกรรมสวยล้ำค่า รับรองว่าแต่ละที่ตื่นตากับความงามแน่นอน มีวัดไหนบ้าง ตามมาดูกัน</font></b></SPAN>
    </P>

    <div class="container-fluid mt-4">
        <div class="row justify">
            <div class="col-xl-3" th:each="place : ${allPlace}">
                <div class="card h-200" style="width: 16rem;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img
                                th:src="${place.linkimg}" class="card-img-top
        embed-responsive-item" alt="180x100" >
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${place.place_name}"></h5>
                        <p class="card-text" th:text="${place.description}"></p>
                    </div>
                    <div class="card-footer">
                        <a  th:href="${place.linkmap}" class="btn btn-primary float-right">Go map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </BODY>
</div>


