<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content" class="container">
    <BODY BACKGROUND="https://png.pngtree.com/thumb_back/fh260/background/20200731/pngtree-illustration-of-the-sunset-view-in-the-temple-image_374978.jpg" >
    <hr>
    <h1>สายบุญต้องมา</h1>


    <P>Templeeeeeeeeeee</P>
    <div class="container-fluid mt-4">
        <div class="row justify">
            <div class="col-xl-3" th:each="place : ${allPlace}">
                <div class="card h-200" style="width: 16rem;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img
                                th:src="${place.linkimg}" class="card-img-top
        embed-responsive-item" alt="180x100" >
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${place.place_name}"></h5>
                        <p class="card-text" th:text="${place.description}"></p>
                    </div>
                    <div class="card-footer">
                        <a  th:href="${place.linkmap}" class="btn btn-primary float-right">Go map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


